<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BillingAddress</key>
	<dict/>
	<key>Emails</key>
	<array/>
	<key>ShippingAddress</key>
	<dict>
		<key>phone</key>
		<string></string>
		<key>zip</key>
		<string></string>
		<key>province</key>
		<string></string>
		<key>country</key>
		<string></string>
		<key>city</key>
		<string></string>
		<key>address2</key>
		<string></string>
		<key>address1</key>
		<string></string>
		<key>lastName</key>
		<string></string>
		<key>firstName</key>
		<string></string>
	</dict>
	<key>PaymentCardInfo</key>
	<dict>
		<key>cvv</key>
		<string></string>
		<key>expireData</key>
		<string></string>
		<key>nameOnCard</key>
		<string></string>
		<key>cardNumber</key>
		<string></string>
	</dict>
</dict>
</plist>
